
<!--{{auth.currentUser.name}} {{user.wins}} {{user.losses}}-->
<!--<div *ngIf="user">{{auth.currentUser.username}} {{auth.currentUser.wins}} {{auth.currentUser.losses}}</div>-->
{{user.username}} {{user.wins}} {{user.losses}}
<div *ngIf="words">
 <h2>{{words.word}}</h2>
</div>



<div>
  <input class="checkword" #check placeholder="Enter Your Guess!" (keyup.enter)="checkWord(check)">
  <button class="guess" (click)="checkWord(check)">Guess!</button>
</div>

{{ticks}}

<audio autoplay loop="loop" *ngIf="this.playing">
  <source src="{{song}}" type="audio/mpeg">
</audio>

<button  class ="playingMusic" *ngIf="!playing"(click)=playMusic()>Play Music</button>
<button  class = "notPlayingMusic" *ngIf="playing" (click)=stopMusic()>Stop Music</button>

<ul *ngFor="let missedWord of missedWords">
  <li>{{missedWord}}</li>
</ul>


<div *ngIf="youWon">You won {{a}}<button (click)="playGame()">Play Again</button></div>
<div *ngIf="youLost">You Lost {{a}}<button (click)="playGame()">Play Again</button></div>

<div *ngIf="guessAgain">Guess Again!</div>

