//font-family: 'Bungee', cursive;
//font-family: 'Bungee Shade', cursive;
//font-family: 'Gravitas One', cursive;

.word {
  font-family: 'Gravitas One', cursive;
  color: red;
}

@media only screen and (max-width: 768px) {
  .playingMusic {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .notPlayingMusic {
    display: none;
  }
}

