
<!--{{auth.currentUser.name}} {{user.wins}} {{user.losses}}-->
<!--<div *ngIf="user">{{auth.currentUser.username}} {{auth.currentUser.wins}} {{auth.currentUser.losses}}</div>-->
<ul class="list-group" *ngIf="!user">
</ul>
<ul class="list-group" *ngIf="user">
  <li class="list-group-item list-group-item">Hello! {{user?.username}}</li>
  <li class="list-group-item list-group-item-success">Wins: {{user?.wins}}</li>
  <li class="list-group-item list-group-item-danger">Losses: {{user?.losses}}</li>

</ul>
<div *ngIf="!words" class="guessworddiv">
  <h2 class="wordToGuess">Word to guess...</h2>
  <h2 class="word"></h2>
</div>

<div *ngIf="words" class="guessworddiv">
  <h2 class="wordToGuess">Word to guess...</h2>
 <h2 class="word">{{words?.word}}</h2>
</div>


<div>
  <input class="checkword" maxlength="55" #check placeholder="Enter Your Guess!" (keyup.enter)="checkWord(check)">
  <button class="btn btn-success guess" (click)="checkWord(check)">Guess!</button>
</div>

<div class="ticks">Time Remaining: <span class="counter">{{ticks}}</span></div>

<audio autoplay loop="loop" *ngIf="this.playing">
  <source src="{{song}}" type="audio/mpeg">
</audio>

<div class="musicButton">
<button  class ="btn btn-outline-success playingMusic" *ngIf="!playing"(click)=playMusic()>Play Music</button>
<button  class = "btn btn-outline-danger notPlayingMusic" *ngIf="playing" (click)=stopMusic()>Stop Music</button>
</div>

<div *ngIf="guessAgain" class="message">Guess Again!</div>

<ul *ngFor="let missedWord of missedWords | playreverse" class="list-group">
  <li class="list-group-item list-group-item-danger">Wrong! {{missedWord}}</li>
</ul>


<div *ngIf="youWon" class="message">Great job you won!  {{a}}<button (click)="playGame()" class="btn btn-success buttonQuestion">Play Again</button></div>
<div *ngIf="youLost" class="message">You Lost! The correct word is {{a}} <button (click)="playGame()" class="btn btn-success buttonQuestion">Play Again</button></div>



