
<!--{{user.username}} {{user.wins}} {{user.losses}}-->
<div *ngIf="user">{{user.username}} {{user.wins}} {{user.losses}}</div>


<div *ngIf="words">
 <h2 class="word">{{words.word}}</h2>
</div>

<div>
  <input class="checkword" #check placeholder="Enter Your Guess!" (keyup.enter)="checkWord(check)">
  <button class="guess" (click)="checkWord(check)">Guess!</button>
</div>

{{ticks}}

<audio autoplay loop="loop" *ngIf="this.playing">
  <source src="{{song}}" type="audio/mpeg">
</audio>

<button  *ngIf="!playing"(click)=playMusic()>Play Music</button>
<button  *ngIf="playing" (click)=stopMusic()>Stop Music</button>

